.formContainer{
  display: flex;
  flex-direction: row;
}



.formControl{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2em;
  padding-left: 3em;
  width: 70%;
}

.heroSecton{
  padding-top: 0.5em;
}

.formControl input{
  width: 50%;
  border-radius: 5px;
  margin-top: 0.5em;
  border: none;
  height: 2.5rem;
  margin-bottom: 1em;
}


.formControl textarea{
  resize: vertical;
  width: 50%;
  height: 5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1em;

}