.jobCard{
  border: 1px solid white;
  width: 80%;
  margin: 1em auto;
  border-radius: 15px;
  padding: 1em;
  background-color: coral;
}


.jobCard .companyLogo{
  width : 1.5em;
  height: 1.5em;
  margin-right: 0.25em;

}

.jobCard h4, .jobCard h3 .jobCard h2{
  margin: 0.5em;
  padding: 0;
}


.companyWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}


.chevronDown{
  width: 1em;
  height: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.accordionNotes{
  background-color: #ffffff20;
  border-radius: 15px;
  padding: 1em;
}

.accordionHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.accordionHeader{
  cursor: pointer !important;
}


.rejectedCard{
  background-color: orangered;
}

.appliedCard{
  background-color: lightseagreen;
}

.interviewCard{
  background-color: lightgreen;
}




.topArrows{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topArrows img{
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  cursor: pointer;
}

.dateAndLocationWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: 0 0 1em 0;
}


.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flexRow img{
  margin: 0;
  width: 1em;
  height: 1em;
}

.flexRow h4{
  margin: 0;
  padding: 0;
  margin-left: 0.25em;
}
