

.googleLogo{
    width: 15vw;
    height: 10vh;
    margin: 0 auto;
    margin-top: 25%;
}

.googleLogo img{
  object-fit: contain;
  width: auto;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .googleLogo{
    
    width: 50vw;
    height: 10vh;
    margin: 0 auto;
    margin-top: 40.5vh !important;
  }
}