.applied{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  border: 1px solid white;
  border-radius: 15px;
  height: fit-content;
  min-height: 100vh;
}

.interview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  border: 1px solid lightgreen;
  border-radius: 15px;
  height: 100vh;
  height: fit-content;
  min-height: 100vh;
}

.rejected{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  border: 1px solid lightcoral;
  border-radius: 15px;
  height: 100vh;
  height: fit-content;
  min-height: 100vh;
}